@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
button {
    font-family: 'Poppins', sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

body {
    background-color: rgb(255, 250, 242);
}


/* Navbar */

.really-fixed-top {
    position: fixed !important;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

.font-body {
    font-size: 25px;
}

.font-navbar {
    font-size: 20px;
}

.custom-color {
    background: #1E1F26;
    color: #D0E1F9!important;
}

.button-color {
    background-color: #4D648D;
}

.color-navbar-toggler {
    background-color: white;
}


/* Carte partenaire */

.background-card {
    background-color: #4D648D!important;
}

.background-card-bottom {
    background-color: #1E1F26;
}


/* Bouton ajouter un partenaire/structure */

.color-button-add {
    background-color: #1E1F26;
    color: #D0E1F9;
    font-size: 1vw;
}

.sizing-btn {
    width: 50%;
}


/* Paragraphe page partenaire */

.para-partenaire {
    background-color: #283655;
    color: #D0E1F9;
    font-size: 1;
}

.toggle-test {
    background-color: yellow!important;
}

.actif-text {
    font-size: 18px;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    main {
        margin-left: var(--offcanvas-width);
    }
    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}

@media screen and (max-width: 600px) {
    .color-button-add {
        background-color: #1E1F26;
        color: #D0E1F9;
        font-size: 3vw;
    }
}

@media screen and (min-width: 770px) {
    .sizing-btn {
        width: 25%;
    }
}